body {
  margin: 0;
  text-align: center;
  background-color: grey;
}

span {
  color: orange;
  -webkit-text-stroke: 1px black;
  font-size: 30
}

ul.topNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.topNav {
  float: left;
}

li a.topNav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover.topNav {
  background-color: #111;
}

#usedWordsBox {
  float: right;
}

#categoryTitle {
  width: 50%;
  border: 1px solid black;
  border-width: thick;
  border-radius: 25px;
  float: right;
  margin-right: 10px;
  background-color: orange;
}

#categoryList {
  min-height: 75%;
  width: 50%;
  border: 1px solid black;
  border-width: thick;
  border-radius: 25px;
  float: right;
  margin-right: 10px;
  background-color: orange;
}

#categoryListTitle {
  border-bottom: 1px solid black;
  border-width: thick;
}

#rowOne {
  overflow: auto;
  text-align: center;
}

#rowTwo {
  overflow: auto;
  text-align: center;
  position: static
}

#catImage {
  width: 400px;
  height: 400px;
}

#textLogo {
  height: 50px;
}

#welcomeText {
  padding-top: 10px;
}

ul.unstyledList {
  list-style-type: none;
  font-size: 25px;
}

.leftContent {
  float: left;
  text-align: center;
  width: 50%;
}

.rightContent {
  float: right;
  text-align: center;
  width:50%;
}