body {
  margin: 0;
  text-align: center;
  background-color: grey;
}

span {
  color: orange;
  -webkit-text-stroke: 1px black;
  font-size: 30
}

ul.topNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.unstyledList {
  list-style-type: none;
  font-size: 25px;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    color: #2A6496;
    text-decoration: none;
}

li.topNav {
  float: left;
}

li a.topNav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover.topNav {
  background-color: #111;
}

#gamePageBottomRow {
  max-height: 100%
}

#saveWordButton {
  background: orange;
}

#categoryList {
  width: 50%
}

#modalContent {
  background-color: #303030;
  color: orange;
  font-size: 30px;
}

#indexCard {
  margin: auto;
  background-color: orange;
}

#usedWordsBox {
  float: right;
}

#currentScore {
  border: 1px solid black;
  border-width: thick;
  border-radius: 25px;
  background-color: orange;
  padding: 10px;
  margin-right: 10px;
}

#currentScoreDesktop {
  border: 1px solid black;
  border-width: thick;
  border-radius: 25px;
  background-color: orange;
  padding: 10px;
  margin-right: 10px;
}

#categoryTitle {
  border: 1px solid black;
  border-width: thick;
  border-radius: 25px;
  background-color: orange;
  padding: 10px;
  margin-left: 10px;
}

#categoryTitleDesktop {
  border: 1px solid black;
  border-width: thick;
  border-radius: 25px;
  background-color: orange;
  padding: 10px;
  margin-left: 10px;
}

#countdownContainer {
  border: 1px solid black;
  border-width: thick;
  border-radius: 25px;
  background-color: orange;
  min-height: 100%;
  padding: 10px;
}

#countdownContainerDesktopView {
  border: 1px solid black;
  border-width: thick;
  border-radius: 25px;
  min-height: 50%;
  max-height: 50%;
  background-color: orange;
  padding: 10px;
  margin-right: 10px;
}

#currentWord {
  border: 1px solid black;
  border-width: thick;
  border-radius: 25px;
  background-color: orange;
  padding: 10px;
}

#currentWordDesktopView {
  border: 1px solid black;
  border-width: thick;
  border-radius: 25px;
  background-color: orange;
  padding: 10px;
}

#guessWord {
  border: 1px solid black;
  border-width: thick;
  border-radius: 25px;
  background-color: orange;
  margin-left: 20px;
  margin-right: 20px;
  padding:10px;
}

#usedWordsList {
  border: 1px solid black;
  border-width: thick;
  border-radius: 25px;
  margin-right: 10px;
  background-color: orange;
  height: 100%;
  max-height: 100%;
}

#usedWordsListTitle {
  border-bottom: 1px solid black;
  border-width: thick;
  padding: 10px;
}

#wordList {
  height: 200px;
  background-color: orange;
  padding: 10px;
  border-radius: 25px;
}

#catImage2 {
  width: 325px;
  height: 300px;
}

#catImage2small {
  width: 175px;
  height: 100px;
}

#catImage3 {
  width: 250px;
  height: 300px;
}

#catImage4 {
  width: 350px;
  height: 350px;
}

#welcomeText {
  padding-top: 10px;
}

#githubButton {
  width: 25%;
  height:100%;
  text-align: center;
}

#githubText {
  color: white;
}

.textLogo {
  height: 50px;
}

.img-responsive {
  width:100%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.sansSerifFont {
  font-family: "sans-serif"
}




