{% extends 'base.html' %}
{% block content %}
{% load static %}

<script type="text/javascript" src="{% static 'game/js/game.js' %}"></script>

<div class="jumbotron jumbotron-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div id="categoryTitle">
                <h1>The current category is:</h1>
                <h1><strong>{{category}}</strong></h1>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="{% static 'game/images/catWords.png' %}">
        </div>
        <div class="col-lg-4">
            <div id="currentScore">
                <h1>Current Score: </h1>
                {% if current_score %}
                <h1><strong>{{ current_score }}</strong></h1>
                {% else %}
                <h1>0</h1>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <div id="currentWord">
                <h1>Current word is: </h1>
                {% if current_word %}
                <h1><strong>{{current_word}}</strong></h1>
                {% else %}
                <h3><strong>Please enter a word related to {{category}} to start playing</strong></h3>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4">
            <img id="catImage2" src="{% static 'game/images/cartoon-cat3.png' %}">
        </div>
        <div class="col-lg-4">
            <div id='countdownContainer'>
                <h1>Time remaining:</h1>
                <h1><strong id="countdownTimer"></strong></h1>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-4">
        <img id="catImage4" src="{% static 'game/images/cartoon-cat4.png' %}"/>
    </div>
    <div class="col-lg-4">
        <div id="guessWord">
            <h1>Guess a word that starts with: </h1>
            {% if letter_guess %}
            <h1><strong>{{ letter_guess }}</strong></h1>
            {% else %}
            <h3><strong>Please enter a word related to {{category}} to start playing</strong></h3>
            {% endif %}
        </div>
        <br>
        <form action="" id="currentWordForm" method="post">
            {% csrf_token %}
            <input id="enterWordForm" class="form-control form-control-lg" name="current_word" type="text" placeholder="enter word...">
            <br>
            <button id="saveWordButton" type="submit" class="btn btn-outline-warning btn-lg active">Save Word!</button>
        </form>
    </div>
    <div class="col-lg-4">
        <div id="usedWordsList">
            <div id="usedWordsListTitle">
                <h1>Used words list</h1>
            </div>
            <div class="overflow-auto">
            {% if saved_words %}
            <ul id="wordList" class="list-group">
                {% for word in saved_words %}
                <li class="list-group-item"><strong><h3>{{word}}</h3></strong></li>
                {% endfor %}
            </ul>
            {% else %}
            <p><strong>No saved words yet...</strong></p>
            {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}



