{% extends 'base.html' %}
{% block content %}
{% load static %}

<script type="text/javascript">
    $(window).on('load',function(){

        // Check to see if the user is a first time user.
        let firstTimeUser = localStorage.getItem('firstTimeUser')

        // Only show the modal if it is the users first time playing
        if(firstTimeUser == null){
            $('#myModal').modal('show');
            localStorage.setItem('firstTimeUser', 'false')
        }
        // Set game played so we know whether to show the high scores modal or not if
        // The user goes directly to the high scores page from the home page without playing
        // the game
        $('#letsPlay').on('click', function() {
        localStorage.setItem('gamePlayed', 'true')
        });
    });
</script>
<div id="mainContent">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
         aria-hidden="false">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div id="modalContent" class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalScrollableTitle">Welcome to Cat Words. How to play...</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Category words is a fun word game for all ages.</p>
                    <p>First, you will pick a category, then you will need to keep trying to guess words related to that
                        category until the timer runs out!</p>
                    <p>The goal is to guess a word that starts with the last letter of the previous word guessed. Guess
                        more words and your score will go up.</p>
                    <p>Good luck!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"><img src="{% static 'game/images/welcomeText.png' %}"></h1>
            <h1>A fun word game for all ages</h1>
        </div>
    </div>
    <img id="catImage" src="{% static 'game/images/cartoon-cat.png' %}">
    <div class="card" id="indexCard">
        <div class="card-body" id="indexCardBody">
            <h2>Please choose a category</h2>
            {% if category_list %}
            <select id="categoryList" class="custom-select" name="category" form="categoryform">
                {% for category in category_list %}
                <option value="{{ category.category_text }}">{{ category.category_text }}</option>
                {% endfor %}
            </select>
            <hr>
            <form action="" id="categoryform" method="post">
                {% csrf_token %}
                <button id="letsPlay" class="btn btn-secondary" type="submit">Let's Play!</button>
            </form>
            {% else %}
            <p>No Categories are available.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}