{% extends 'base.html' %}
{% block content %}
{% load static %}

<script type="text/javascript" src="{% static 'game/js/index.js' %}"></script>

<div id="mainContent">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
         aria-hidden="false">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div id="modalContent" class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalScrollableTitle">Welcome to Cat Words. How to play...</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Category words is a fun word game for all ages.</p>
                    <p>First, you will pick a category, then you will need to keep trying to guess words related to that
                        category until the timer runs out!</p>
                    <p>The goal is to guess a word that starts with the last letter of the previous word guessed. Guess
                        more words and your score will go up.</p>
                    <p>Good luck!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid d-none d-lg-block">
        <div class="row">
            <div class="col-lg-3 col-centered ">
                <img src="{% static 'game/images/category_words.png' %}" class="img-responsive hidden-md-down">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h5 class="sansSerifFont">A fun word game for all ages</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-3 col-centered">
        <img id="catImage" src="{% static 'game/images/cartoon-cat.png' %}" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-3 col-centered">
            <div class="card" id="indexCard">
                <div class="card-body" id="indexCardBody">
                    <h3 class="sansSerifFont">Please choose a category</h3>
                    {% if category_list %}
                    <select id="categoryList" class="custom-select" name="category" form="categoryform">
                        {% for category in category_list %}
                        <option value="{{ category.category_text }}">{{ category.category_text }}</option>
                        {% endfor %}
                    </select>
                    <hr>
                    <form action="" id="categoryform" method="post">
                        {% csrf_token %}
                        <button id="letsPlay" class="btn btn-secondary" type="submit">Let's Play!</button>
                    </form>
                    {% else %}
                    <p>No Categories are available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}