{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><img src="{% static 'game/images/highScores.png' %}"></h1>
    <p class="lead">Great job! Let's play again sometime!</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
      <ol>
      	<li>Joshua: 800</li>
      	<li>Gurman: 800</li>
      	<li>Patty: 800</li>
      </ol>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>
{% endblock content %}