{% extends 'base.html' %}
{% load static %}

{% block content %}

<script type="text/javascript">
    $(window).on('load',function(){
        if(localStorage.getItem('scoreSaved') == null){
        $('#myModal').modal('show');
        }
        $('#saveScore').on('click', function(){
            localStorage.setItem('scoreSaved', "true");
        });
    });
</script>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
         aria-hidden="false">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div id="modalContent" class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalScrollableTitle">Thank you for playing Cat Words!</h1>
                </div>
                <div class="modal-body">
                   <form action="" id="scoreform" method="post">
                      <div class="form-group">
                        <label for="usernameField">Enter your name</label>
                        <input class="form-control" id="usernameField" name="username" placeholder="Enter username">
                        <small id="emailHelp" class="form-text text-muted">Enter you name to see if you made it to the top 10!</small>
                      </div>
                      <div class="modal-footer">
                        <button id="saveScore" type="submit" class="btn btn-secondary" data-dismiss="modal">Save Score</button>
                      </div>
                   </form>
                </div>
            </div>
        </div>
    </div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><img src="{% static 'game/images/highScores.png' %}"></h1>
        <h2>Thank you so much for playing Cat Words!</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <ul class="list-group">
                {% if high_scores %}
                {% for score in high_scores %}
                <li class="list-group-item">{{score.username}}: {{score.score}}</li>
                {% endfor %}
                {% else %}
                <p><strong>No high scores yet...</strong></p>
                {% endif %}
            </ul>
            <br>
            <a href="{% url 'game:index' %}"><button id="playAgainButton" type="button" class="btn btn-outline-warning btn-block active"><h1>Play again?</h1></button></a>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>
{% endblock content %}