{% load static %}

<ul class="topNav">
  <li class="topNav"><a class="topNav" href="{% url 'game:index' %}"><img class="textLogo" src="{% static 'game/images/catWordsText.png' %}"></a></li>
  <li class="topNav"><a class="topNav" href="{% url 'game:scores' %}"><img class="textLogo" src="{% static 'game/images/highScoreText.png' %}"></a></li>
  <li style="float:right" class="topNav"><a class="topNav" href="https://github.com/jclarkGRC/django-cat-words"><img class="textLogo" src="{% static 'game/images/githubIcon.png' %}">&nbsp;Code Available on Github</a></li>
</ul>