{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'game/style.css' %}">

<ul class="topNav">
  <li class="topNav"><a class="topNav" href="{% url 'game:index' %}"><img id="textLogo" src="{% static 'game/images/catWordsText.png' %}"></a></li>
  <li class="topNav"><a class= "topNav" href="{% url 'game:scores' %}"><img id="textLogo" src="{% static 'game/images/highScoreText.png' %}"></a></li>
  <li class="topNav" style="float:right"><a class="topNav" href="{% url 'game:profile' %}"><img id="textLogo" src="{% static 'game/images/profileText.png' %}"></a></li>
</ul>